- if wave_membership = wave.wave_membership_for(current_user)
  = link_to image_tag('cross.png', :alt => '', :height => 16, :width => 16), set_delete_wave_membership_path(wave_membership), :class => 'set_delete', :title => 'Üzenet törlése'
