.comments
  - if commentable.comments_count.andand > 0 and not (comments = commentable.comments.where(reply_to_id: nil).order('created_at ASC')).blank?
    = render comments, commentable: commentable
