- unless Settings.standalone
  .change_city
    = semantic_form_for City.new, url: url_for(only_path: false), method: :get do |f|
      .pull-right= f.text_field :id
      .pull-right= f.label :id, tr('in'), class: 'change_field'

  javascript:
    $('#city_id').tokenInput('/cities.json', {
      allowFreeTagging: true,
      crossDomain: false,
      preventDuplicates: true,
      prePopulate: #{[{id: @city.id, name: trl(@city.display_name)}].to_json.html_safe},
      tokenLimit: 1,
      theme: 'facebook',
      onAdd: function(){
        $('#city_id').closest('form').submit()
      },
    })
