= semantic_form_for @wave_item, url: wave_wave_items_path(@wave) do |f|
  = f.inputs :body
  = f.actions do
    = f.action :submit, label: tr('Send'), onclick: "_gaq.push(['_trackEvent', 'Send message', 'Message']);"
