.wrapper
	h2 Válassz települést!
	= easy_form_for @user do |f|
    = f.text_field :city_id
		= f.action

javascript:
  $('#user_city_id').tokenInput('/cities.json', {
    allowFreeTagging: true,
    allowTabOut: true,
    crossDomain: false,
    preventDuplicates: true,
    prePopulate: #{[@user.city || @city].compact.map { |city| {id: city.id, name: tr(city.display_name)} }.to_json.html_safe},
    tokenLimit: 1,
    theme: 'facebook'
  })
