.row
  .span7
		h2 Válassz települést!
		= semantic_form_for @user do |f|
			= f.inputs do
			  = f.text_field :city_id, 'data-pre' => [@user.city].compact.map { |city| {:id => city.id, :name => city.name} }.to_json
			= f.actions

javascript:
  $(function() {
    $('#user_city_id').tokenInput('/cities.json', {
      allowInsert: true,
      crossDomain: false,
      preventDuplicates: true,
      prePopulate: $('#user_city_id').data('pre'),
      tokenLimit: 1,
      theme: 'facebook'
    })
  })
