%h1
  = @user.name
  profilja

.row
  .span8
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{:href => '#1', 'data-toggle' => 'tab'} Tartalom
        %li
          %a{:href => '#2', 'data-toggle' => 'tab'} Csoportok
      .tab-content
        #1.tab-pane.active
        #2.tab-pane
          - if can? :create, Group
            %p= link_to 'Új csoport létrehozása', new_group_path, :class => 'btn btn-primary'
          %table.table.table-striped
            = render @user.groups

  .span4
    .well
      Követés
    .well
      Infó
    %h3 Aktivitás
    %table.table.table-striped
      = render @user.activities.order('created_at DESC').limit(5)
