%h1.event= link_to @event.title, @event

%h2 Meghívottak

%table.table.table-striped.table-condensed
  - @event_invitation_targets.each do |event_invitation_target|
    %tr
      %td= event_invitation_target.email
      %td= event_invitation_target.created_at
