%h1= @event.title

%h3
  Csoport:
  = link_to @event.group.name, @event.group

.row
  .span8
    = debug @event
  .span4
    %h3 Aktivitás
    %table.table.table-striped
      = render @event.activities.order('created_at DESC').limit(5).includes({:activable => :user})
