<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd'>
<HTML><HEAD><TITLE>Ericsson</TITLE>
<META content='text/html; charset=utf-8' http-equiv=Content-Type>
<link href="all/main.css" rel="stylesheet" type="text/css" />
<STYLE type=text/css>

body {
  background: #ffffff;
}

body { margin: 0; padding:0;font-family: Arial;font-size: 12px;line-height:15px;}
table, img {margin: 0;padding: 0;}

h1 {color: #89ba17; font-size: 25px;line-height:25px; width: 440px; margin: 25px 0 12px 0; text-transform:uppercase;font-weight:300;}
span {font-family: Arial;font-size: 12px;line-height:15px;font-family: Arial;}

p {color:#666666; margin:2px 0 20px 0; padding: 0px;font-family: Arial;font-size: 12px;line-height:15px;}
a {color:#0066bb;text-decoration: none;}
a.underline {text-decoration: underline;}
img {border: 0;}

b {color:#333333;}

img.full-width-line {width:100%;height: 3px;margin: 0; padding:0;}
img.top-image {margin: 20px 0;}

td.top-image {margin: 20px 0;}

p.preamble {font-size: 18px;line-height:21px;margin: 0 0 12px 0; width: 440px;}
p.font-10px, span.font-10px {font-size: 10px;margin: 25px 0 0 0; padding:0;}
p.font-18px {font-size: 18px;line-height:21px;margin: 0; padding:0;}
p.footer {margin: 0;}
p.calendar {margin: 0 0 0 0;}
td.event-table p {margin: 5px 0 15px;}

.btn { background: #ffffff; padding: 5px 10px; }
</STYLE>

<META name=GENERATOR content='MSHTML 9.00.8112.16434'></HEAD>

<BODY
style='PADDING-BOTTOM: 0px; LINE-HEIGHT: 15px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial; FONT-SIZE: 12px; PADDING-TOP: 0px bgColor=#ffffff'>
<TABLE style='PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px' border=0 cellSpacing=0 cellPadding=0 width='100%'>
<TBODY>
<TR>
<TD>
<TABLE style='PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px' border=0 cellSpacing=0 cellPadding=0 bgColor=#ffffff>
<TBODY>
<TR bgColor=#ffffff>
<TD bgColor=#ffffff width='50%'>&nbsp;</TD>
<TD bgColor=#ffffff height=102 vAlign=top>
<TABLE style='PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px' border=0 cellSpacing=0 cellPadding=0 width=460>
<TBODY>
<TR>
<TD vAlign=top width=230><BR><A style='COLOR: #0066bb; TEXT-DECORATION: none' href='http://www.ericsson.com'>
<IMG style='PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px' alt='Visit Ericsson.com' src='http://www.ericsson.com/ericsson/news/html_mail/images/erimo/Email_templ_June2011/plain-internal/images/e-logo-simple.gif' width=36 height=47></A>
</TD>
<TD vAlign=top width=230 align=right>&nbsp;</TD></TR></TBODY></TABLE></TD>
<TD bgColor=#ffffff width='50%'>&nbsp;</TD></TR></TBODY></TABLE></TD></TR>
<TR>
<TD bgColor=#14993e height=3 vAlign=top align=center><IMG style='PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 3px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px' class=full-width-line alt='' src='http://www.ericsson.com/ericsson/news/html_mail/images/erimo/Email_templ_June2011/plain-internal/images/line-grad-540.jpg'></TD></TR>
<TR>
<TD>
<TABLE style='PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px' border=0 cellSpacing=0 cellPadding=0 width='100%' bgColor=#f8f8f8>
<TBODY>
<TR>
<TD width='50%'>&nbsp;</TD>
<TD width=460><!-- Main content area starts here -->
<TABLE style='PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px' cellSpacing=0 cellPadding=0 width=460>
<TBODY><TR><TD>
<%= yield %>
</TD></TR></TBODY>
</TABLE></TD><!-- Main content area ends here -->
<TD width='50%'>&nbsp;</TD></TR></TBODY></TABLE></TD></TR>
<TR>
<TD bgColor=#f8f8f8 height=40>&nbsp;</TD></TR>
<TR>
<TD bgColor=#14993e height=3 vAlign=top align=center><IMG style='PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 3px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px' class=full-width-line alt='' src='http://www.ericsson.com/ericsson/news/html_mail/images/erimo/Email_templ_June2011/plain-internal/images/line-grad-540.jpg'></TD></TR>
<TR>
<TD>
<TABLE style='PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px' cellSpacing=0 cellPadding=0>
<TBODY>
<TR>
<TD width='50%'>&nbsp;</TD>
<TD width=460 align=left><BR>
<TABLE style='PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px' cellSpacing=0 cellPadding=0 width=460>
<TBODY>
<TR>
<TD style='WIDTH: 60px'><A style='COLOR: #0066bb; TEXT-DECORATION: none' href='http://www.ericsson.com'>
<IMG style='PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px' alt='Visit Ericsson.com' src='http://www.ericsson.com/ericsson/news/html_mail/images/erimo/Email_templ_June2011/plain-internal/images/e-logo-simple.gif' width=36 height=47></A></TD>
<TD class=footer><!-- START: Editable area. Footer. -->
<P style='PADDING-BOTTOM: 0px; LINE-HEIGHT: 15px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial; COLOR: #666666; FONT-SIZE: 12px; PADDING-TOP: 0px' class=footer>This is an automatically generated message, please do not reply!</P><!-- END: Editable area. Footer. --></TD></TR></TBODY></TABLE></TD>
<TD width='50%'>&nbsp;</TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
<DIV><SPAN style='FONT-FAMILY: Arial; COLOR: #333333; FONT-SIZE: 8pt'></SPAN>&nbsp;</DIV></BODY></HTML>
