development: &defaults
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: openmeetup_developent
  pool: 5
  username:
  password:
  socket: /var/run/mysqld/mysqld.sock

test:
  <<: *defaults
  database: openmeetup_test

production:
  <<: *defaults
  database: openmeetup_production
