= easy_form_for @event_invitation, url: url do |f|
  = f.input :ids, tr('Names or emails (separated with commas)')
  p= link_to_function tr('More options'), "$('#more-options').toggle()", class: 'function'
  #more-options
    = f.input :message, tr('Personal message')
  = f.action trl('Send'), disable_with: trl('Sending...'), onclick: "_gaq.push(['_trackEvent', 'Send event invitation', 'Event invitation']);"

javascript:
  $('#event_invitation_ids').tokenInput('/users.json', {
    allowFreeTagging: true,
    allowTabOut: true,
    crossDomain: false,
    tokenValue: 'id',
    preventDuplicates: true,
    prePopulate: #{@users.map{ |user| {id: user.id, name: user.name} }.to_json.html_safe},
    theme: 'facebook'
  })
