h1= tr('Somewhere, something went terribly wrong (500 error)')
img src="http://i.imgur.com/y6kT8.gif"
p= tr("The developers have been contacted, we'll look into this as soon as possible.")
p= tr("Sorry for the inconvinience.")
