.row
  .span8
    - if can? :create, Group
      = link_to 'Új csoport létrehozása', new_group_path, :class => 'btn btn-primary', :rel => 'facebox'
    %h2 Legfrissebb csoportok
    .list_view= render Group.order('created_at DESC').limit(5)
  .span4
    %h3 Összes aktivitás
    .list_view= render Activity.order('created_at DESC').limit(5)
