h1= tr("Thanks for joining the {sitename} waiting list!", 'Invite welcome', sitename: Settings.title)

p= tr("We'll be sure to send you an invite soon.")
p= tr("The party is so much more fun together with your friends - please share:")

