= easy_form_for @post, url: url_for([@post.postable, :posts]) do |f|
  = f.input :post, tr('Post')
  = f.action trl('Save')), class: 'btn btn-primary', disable_with: trl('Saving...'), onclick: "_gaq.push(['_trackEvent', 'Create post', 'Post']);"
