= semantic_form_for @post, url: url_for([@post.postable, :posts]) do |f|
  = f.inputs :post
  = f.actions do
    = f.action :submit, label: trl('Save')), onclick: "_gaq.push(['_trackEvent', 'Create post', 'Post']);", button_html: {class: 'btn btn-primary', disable_with: trl('Saving...')}
