body
  background: #f3f3f3
  font-family: Arial, sans-serif

td.right_aligned
  text-align: right

p
  margin: 10px 0

span a.btn
  margin-bottom: 5px

#footer
  border-top: 1px solid #ffffff
  color: #9f9f9f
  font-size: 11px
  margin-top: 60px
  margin-bottom: 20px
  padding: 10px
  text-align: center

.footer-left
  text-align: left
  float: left

.footer-right
  text-align: right
  float: right

.footer-right > a
  padding-left: 10px

.footer-showlove
  display: block
  width: 300px
  height: 50px
  margin: auto
  text-align: center

.footer-google
  float: left
  width: 100px
  text-align: left
.footer-twitter
  float: left
  width: 100px
  text-align: left
.footer-facebook
  float: left
  width: 100px
  text-align: left

.navbar
  border-bottom: 1px solid #ffffff
  color: #2f2f2f
  .nav > li
    a
      color: #2f2f2f
      text-shadow: none
      &:hover
        background: #d7d7d7
        color: #000000
    .dropdown-toggle .caret, .open.dropdown .caret
      border-bottom-color: #000000
      border-top-color: #000000
  .navbar-inner
    background: #e7e7e7
    border-bottom: 1px solid #d7d7d7
    box-shadow: none
    -webkit-box-shadow: none
    .brand
      color: #2f2f2f
      font-family: Georgia, serif
      font-size: 20px
  img
    margin: -3px 0
    vertical-align: top

.navbar-search .search-query
  background: #f4f4f4
  border: 1px solid #dfdfdf
  color: #cfcfcf

.nav-tabs
  border-color: #cfcfcf
  > .active > a
    background: #f3f3f3
    border-color: #cfcfcf
    border-bottom-color: transparent

h1
  color: #000000
  font-family: Georgia, serif
  margin-bottom: 20px
  &.event
    background: url(calendar_alt_stroke_32x32.png) no-repeat 0 4px
    padding-left: 48px
  &.group
    background: url(share_32x32.png) no-repeat 0 4px
    padding-left: 48px
  &.user
    background: url(user_24x32.png) no-repeat 0 4px
    padding-left: 40px

h2
  font-family: Georgia, serif
  margin: 25px 0 15px 0

h3
  font-family: Georgia, serif
  margin: 15px 0 5px 0

.date
  color: #6f6f6f
  font-size: .8em

.map_container
  border: none
  padding: 0
  width: inherit
  box-shadow: none
  -webkit-box-shadow: none
  -moz-box-shadow: none

.gmaps4rails_map
  width: inherit

.span4
  .gmaps4rails_map
    height: 300px

.avatar
  display: block
  float: left
  margin: 2px 7px 0 0

.avatar_image
  margin-right: 3px

div.list_view
  border-bottom: 1px solid #ffffff
  border-top: 1px solid #cfcfcf
  > div
    border-bottom: 1px solid #cfcfcf
    border-top: 1px solid #ffffff
    padding-bottom: 5px
    padding-top: 5px
    h3
      margin-top: 5px

div.item_view
  background: #e7e7e7
  border-radius: 5px
  margin: 10px 0
  padding: 2px 12px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  h3
    margin-top: 5px

div.activity, div.user, div.review
  min-height: 36px
  padding-left: 40px
  .avatar
    margin-left: -40px
    margin-right: 0

div.group
  min-height: 76px

textarea
  height: 160px

.root
  text-align: center
  p
    font-family: Georgia, sans-serif
    font-size: 20px
    line-height: 24px
    img
      border: 10px solid #ffffff
      box-shadow: 0 2px 4px #cfcfcf
      margin: 0 10px 10px 10px
      -moz-box-shadow: 0 2px 4px #cfcfcf
      -webkit-box-shadow: 0 2px 4px #cfcfcf
  .facebook_connect
    margin: 20px 0 10px 0
  .comment
    color: #9f9f9f
    font-size: 12px

span.tag
  background: #cfcfcf
  border-radius: 3px
  color: #6f6f6f
  font-size: 11px
  padding: 3px 6px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px

#facebox
  h1
    font-size: 20px

.pull-right a
  margin-left: 3px

.adminbox
  background: #d7d7d7
  border-radius: 0 0 5px 5px
  margin: -40px 0 30px 0
  padding: 6px 6px
  -webkit-border-radius: 0 0 5px 5px
  -moz-border-radius: 0 0 5px 5px
  a
    vertical-align: middle

div.calendar
  background: #e7e7e7
  border-radius: 5px
  display: inline-block
  padding: 10px
  margin: 20px 0
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  .month_names
    font-family: Georgia, serif
    font-size: 16px
  td
    text-align: right
    &.otherMonth
      color: #9f9f9f
    span
      background: #ffffff
      border: 2px solid #e7e7e7
      display: block
      min-width: 22px
      padding: 2px
      &.on_day
        background: #005580
        color: #ffffff
        font-weight: bold
    &.today
      span
        border: 2px solid #08c

#facebox .form-actions
  margin: 0 -25px -43px -25px
  padding: 25px
