body
  font-family: Tahoma, Arial, sans-serif

.navbar .navbar-inner
  img
    margin: -3px 0
    vertical-align: top

h1
  margin-bottom: 20px
  &.event
    background: url(calendar_alt_stroke_32x32.png) no-repeat 0 4px
    padding-left: 48px
  &.group
    background: url(share_32x32.png) no-repeat 0 4px
    padding-left: 48px
  &.user
    background: url(user_24x32.png) no-repeat 0 4px
    padding-left: 40px

h2
  margin: 15px 0

h3
  margin: 10px 0

.date
  color: #6f6f6f
  font-size: .8em

.map_container
  border: none
  padding: 0
  width: inherit
  box-shadow: none
  -webkit-box-shadow: none
  -moz-box-shadow: none

.gmaps4rails_map
  width: inherit

.span4
  .gmaps4rails_map
    height: 300px

.avatar
  display: block
  float: left
  margin-top: 2px

div.list_view
  border-bottom: 1px solid #cfcfcf
  > div
    border-top: 1px solid #cfcfcf
    padding-bottom: 5px
    padding-top: 5px

div.activity, div.user, div.review
  min-height: 36px
  padding-left: 40px
  .avatar
    margin-left: -40px
