.uploadify {
	position: relative;
}

.uploadify-button {
	cursor: pointer;
}

.uploadify-queue {
	margin-bottom: 1em;
}

.uploadify-queue-item {
	background-color: #f7f7f7;
	border-radius: 3px;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
}

.uploadify-error {
	background-color: #fde5dd !important;
}

.uploadify-queue-item .cancel a {
	background: url('/uploadify/uploadify-cancel.png') 0 0 no-repeat;
	float: right;
	height:	16px;
	text-indent: -9999px;
	width: 16px;
}

.uploadify-queue-item.completed {
	background-color: #e7e7e7;
}

.uploadify-progress {
	background-color: #e7e7e7;
	margin-top: 10px;
	width: 100%;
}

.uploadify-progress-bar {
	background-color: #006fcf;
	height: 3px;
	width: 1px;
}