javascript:
  $(function(){
    $('#images_upload').fineUploader({
      request: {
        endpoint: '#{url}'
      },
      text: {
        uploadButton: '<i class="icon-upload icon-white"></i> #{tr("Upload")}'
      },
      template: '<div class="qq-uploader"><pre class="qq-upload-drop-area"><span>{dragZoneText}</span></pre><div class="qq-upload-button btn btn-primary">{uploadButtonText}</div><ul class="qq-upload-list"></ul></div>',
      fileTemplate: '<li class="alert">' +
          '<div class="qq-progress-bar"></div>' +
          '<span class="qq-upload-spinner"></span>' +
          '<span class="qq-upload-finished"></span>' +
          '<span class="qq-upload-file"></span>' +
          '<span class="qq-upload-size"></span>' +
          '<a class="qq-upload-cancel" href="#">{cancelButtonText}</a>' +
          '<a class="qq-upload-retry" href="#">{retryButtonText}</a>' +
          '<span class="qq-upload-status-text">{statusText}</span>' +
          '</li>',
      classes: {
        success: 'alert-success',
        fail: 'alert-error'
      },
      validation: {
        allowedExtensions: ['jpeg', 'jpg', 'gif', 'png']
      },
      debug: true
    }).on('complete', function(event, id, fileName, responseJSON){
      if (responseJSON.success){
        eval(responseJSON.code)
        $('ul.qq-upload-list li.alert-success').fadeOut()
      }
    })
  })
